[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jptrueblood (jptrueblood)
[access "refs/for/refs/*"]
	read = group user/jptrueblood (jptrueblood)
	push = group user/jptrueblood (jptrueblood)
	label-Code-Review = -2..+2 group user/jptrueblood (jptrueblood)
	label-Verified = -1..+1 group user/jptrueblood (jptrueblood)
	rebase = group user/jptrueblood (jptrueblood)
	removeReviewer = group user/jptrueblood (jptrueblood)
	submit = group user/jptrueblood (jptrueblood)
[access "refs/heads/*"]
	read = group user/jptrueblood (jptrueblood)
	create = group user/jptrueblood (jptrueblood)
	push = +force group user/jptrueblood (jptrueblood)
	pushMerge = group user/jptrueblood (jptrueblood)
[access "refs/tags/*"]
	push = +force group user/jptrueblood (jptrueblood)
	pushTag = group user/jptrueblood (jptrueblood)
	pushSignedTag = group user/jptrueblood (jptrueblood)
